@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/geist/Geist-Regular.ttf');
  font-family: geist;
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./assets/geist-mono/GeistMono-Regular.ttf');
  font-family: geist-mono;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

body/* [data-color-mode='dark'] */ {
  --color-anchor: #e4ecff;
  --color-brand: #0f172a;
  --color-bar: #1c263a;
  --color-editor: #000c18;
  --color-tab-inactive: #000c1856;
  --color-explorer-active: #98b3cf95;
  --color-explorer: #070725;
  --color-foreground-inactive: #8f9daeab;
  --color-foreground: #cdd4db;
  --color-background-hover: #d9dcdf31;
  --color-scroll-bar: #293a5d;
  --color-handle: #466299;
  --color-selection: #67a1df95;
  --padding: 2px 8px;
  --margin: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  color: var(--color-foreground);
}

.input {
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0px;
  width: 100%;
  color: var(--color-foreground);
}

.app {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;
  font-family: geist-mono;
}

.handle {
  z-index: 10;
  cursor: ew-resize;
  overflow: auto !important;

  &.column div {
    cursor: ns-resize;
    margin-top: -2.5px;
    margin-left: 0px;
    width: 100%;
    height: 5px;
  }

  & div {
    position: absolute;
    transition: background-color 0.125s;
    margin-top: 0px;
    margin-left: -2.5px;
    background-color: transparent;
    width: 5px;
    height: 100%;
  }

  & div:hover,
  &[data-active-handle] div {
    background-color: var(--color-handle);
  }
}

.frame {
  border: none;
  width: 100%;
  height: 100%;
}

.bar {
  background: var(--color-bar);
}

.editor {
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--color-editor);
  overflow: unset !important;
}

.tabs {
  display: flex;
  gap: 2px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--color-foreground-inactive) transparent;
  scrollbar-width: thin;
}

.tab {
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--color-tab-inactive);
  height: var(--margin);

  & > button:first-child {
    padding-left: 15px;
  }

  &.selected {
    background: var(--color-editor);
    & > button:first-child {
      text-decoration: underline;
    }
  }
  & > button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--color-foreground);
    font-family: geist;
  }
}

.explorerPane {
  display: grid;
  grid-template-rows: var(--margin) 1fr;
}

.explorer {
  display: grid;
  align-content: start;
  background-color: var(--color-explorer);
}

.explorerBar {
  display: flex;
  justify-content: end;
}

.dir,
.file {
  border: none;
  background: transparent;
  padding: var(--padding);
  color: var(--color-foreground);
  font-size: 10pt;
  font-family: geist;
  text-align: left;
  &.cursor {
    border-right: 1px solid var(--color-foreground);
  }
}

.file {
  padding-left: calc(var(--layer) * 10px + var(--margin));
}

.dir {
  display: grid;
  grid-template-columns: var(--margin) 1fr;
  align-items: center;
  padding-right: 0px;
  padding-left: calc(var(--layer) * 10px);
  text-align: left;

  & > button {
    border: none;
    background: transparent;
    padding: 0px;
    color: var(--color-foreground);
    text-align: center;
  }
}

[data-active-pane] {
  pointer-events: none;
  user-select: none;
}

[data-active-pane] .monaco {
  overflow: hidden;
}
